frontend/node_modules/
backend/node_modules/

# Local Terraform state
*.tfstate
*.tfstate.*
crash.log

# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Variable files containing secrets
*.tfvars
*.tfvars.json

# Ignore backup files
*.backup
*.bak

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config
.terraformrc
terraform.rc

# macOS / IDE / OS noise
.DS_Store
.idea/
.vscode/